target
node_modules
.env
.next
.idea
.vscode
cache
dist
build
coverage
__pycache__
*.pyc
venv
.DS_Store
db.sqlite3
.mypy_cache
pytest_cache
.svelte-kit
.expo
.packager
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

